@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8fccfc #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #8fccfc;
  border-radius: 200px;
  border: 2px solid #fff;
}
