@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8fccfc #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #8fccfc;
  border-radius: 10px;
  border: 0px solid #ffffff;
}
